In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [62]:
np.random.seed(1)
x = np.array([10,-5,12,1]*25) + np.random.randint(10,size=100) + 10*(np.cos(0.05*np.array(range(100))))
y = 9.5*(np.cos(0.05*np.array(range(100))))

In [78]:
df = pd.DataFrame()

In [81]:
df['x'] = x
df['y'] = y

In [85]:
df.to_csv('test.csv')

In [86]:
df

            x         y
0   25.000000  9.500000
1   12.987503  9.488127
2   30.950042  9.452540
3   15.887711  9.393325
4   19.800666  9.310632
..        ...       ...
95   5.376022  0.357220
96  14.874990  0.831240
97   3.371771  1.303183
98  20.865124  1.771868
99   7.353814  2.236124

[100 rows x 2 columns]